name: Deploy to AWS Lambda

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt -t package/
        cp -r src package/

    - name: Run Tests
      run: |
        pip install -r requirements.txt
        export PYTHONPATH=$PYTHONPATH:$(pwd)
        pytest tests/api/test_routes.py

    - name: Zip Package
      run: |
        cd package
        zip -r ../deployment_package.zip .
        cd ..

    - name: Deploy to Lambda
      uses: appleboy/lambda-action@v0.1.9
      with:
        aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws_region: ${{ secrets.AWS_REGION }}
        function_name: ${{ secrets.LAMBDA_FUNCTION_NAME }}
        zip_file: deployment_package.zip
